Source: python3-oq-taxonomy
Maintainer: Matteo Nastasi (GEM Foundation) <nastasi@openquake.org>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python3-oq-taxonomy
Architecture: all
Description: GEM Taxonomy manipulation tools.
Depends: ${python3:Depends}

